* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img { 
    max-width: 100%;
}

:root {
    --background-lightblue: #B4D0E7;
    --button: #0061FF;
    --border: #EDEDEE;
    --monitor: #F5F5F5;
    --designit: #A2D39B;
    --asu: #61082B;
    --uf: #0093CE;
    --topps: #FF1C1C;
    --bicycle: #D5001F;
    --hearts: #B4D0E7;
    --lonely: #0D2481;
    --clear: #FFD830;


}

/* common */

.container {
    /* debug */
    /* border: 1px solid black;
    min-height: 150px; */
    /* debug */
    width: 70%;
    margin: 0 auto;
    max-width: 1100px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.flexbox{
    display: flex;
}

.background-lightblue {
    background-color: var(--background-lightblue);
    margin-bottom: 4rem;
}

li{
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.box-30 {
     width: 40%;
    
}

.box-60 {
    width: 60%;    
}

.button {
    background-color: var(--button);
    border: 1px solid var(--button);
    color: white;
    padding: 1rem 1rem;
    width: fit-content;
    height: fit-content;
}

.button-small {
    background-color: var(--button);
    color: white;
    padding: 0.5rem 1rem;
    width: fit-content;    
}

.button-white {
    border: 1px solid var(--border);
    background-color: var(--border);
    color: black;
    padding: 1rem 1rem;
    width: fit-content;
    height: fit-content;

}

.mb {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.bold {
    font-weight: bold;
}

/* header */

/* nav */
nav {
    background-color: white;
    display: flex;   
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 4rem;
    padding-top: 1.2rem;
    z-index: 999;
}

.nav-left {
    display: flex;
    gap: 1rem;
    
}

.nav-left img {
    height: 1.5rem;
}

.nav-left ul {
    display: flex;
    gap: 1rem;
    height: 100%;
}

.nav-right ul {
    display: flex;
    gap: 1rem;
    height: 100%;
}

/* hero */
.hero {
    /* debug */
    /* border: 1px solid black; */
    /* min-height: 200px; */
    /* debug */
    padding-top: 8rem;      
}

.big-container {
    /* debug */
    /* border: 1px solid black;
    min-height: 150px;
    debug */
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
}

.hero-content {   
    /* debug */
    /* border: 1px solid black; */
    /* debug */
    padding-top: 2rem;   
}

.hero-txt {
    color: blue;
}

 .hero-img { 
    margin-bottom: -4rem;
}

.arrow {
    font-size: 3rem;
    padding-left: 1rem;
    color: black;
}


/* main */


/* 1th section */
.checkbox {
     /* debug */
     /* border: 1px solid black;
     min-height: 4rem; */
     /* debug */    
     gap: 2rem; 
     padding-top: 3rem;
     padding-bottom: 2.5rem;
}

.check {
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid gray;
    border-radius: 50%;
}

.select {
    height: 1rem;
    line-height: 1rem;
}

.check-on {
    width: 1.2rem;
    height: 1.2rem;
    border: 4px solid var(--button);
    border-radius: 50%;
    

}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;   
}

.col {
    /* debug */
    /* background-color: lightblue;
    min-height: 100px; */
    /* debug */
    width: calc(100%/3 - 1rem);
    border: 1px solid var(--border); 
    padding: 0.5rem 1rem 1rem 1rem;   
}

.addressed {
    justify-content: center;
    height: 1rem;
    line-height: 1rem;
    gap: 5px;
    padding: 1.5rem 0;    
    border: 1px solid var(--border);
    align-items: center;

}

.plan {
    padding-top: 3rem;

}

.time {
    color: gray;
}

.ico {
    height: 1rem;
    line-height: 1rem;
    gap: 5px;
}

.description {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.fa-check { 
    color: blue;
}

.sell {
    color: blue;
    text-decoration: underline;
}

.characteristics {
    padding-top: 5rem;
}

.big-col {
    /* debug */
    /* background-color: lightblue;
    min-height: 100px; */
    /* debug */
    width: 100%;
    border: 1px solid var(--border);
    margin-top: 4rem;
}

.big-col-top {
    justify-content: space-between;
    padding: 4rem 1rem 4rem 1rem;
}

.big-col-bottom {
    padding: 1rem;
}

/* 2th section */

.partner-txt {
    padding: 3rem;
}


/* 4th section */

.company-row {
    display: flex;
    flex-wrap: wrap;      
}

.company-col {
    /* debug */
    background-color: lightblue;
    min-height: 100px;
    /* debug */
    width: calc(100%/3);
    border: 1px solid var(--border);    
    display: flex;
    flex-wrap: wrap;
}

.monitor {
    /* debug */
    background-color: var(--monitor);
    min-height: 100px;
    /* debug */
    width: calc(100%/3);    
    display: flex;
}

.company { 
    /* debug */
    /* min-height: 100px;
    border: 1px solid black; */
    /* debug */
    width: calc(100%/2);
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1;    
    justify-content: center;
    align-items: center;
    
    
}

.company img {
    filter: invert(1);
    width: 50%;    
}



.designit {
    background-color: var(--designit);       
}

.asu {
    background-color: var(--asu);
}

.uf {
    background-color: var(--uf);
}

.topps {
    background-color: var(--topps);
}

.monitor {
    background-color: var(--monitor);
}

.bicycle {
    background-color: var(--bicycle);
}

.hearts {
    background-color: var(--hearts);
}

.lonely {
    background-color: var(--lonely);
}

.clear {
    background-color: var(--clear);
}

/* 5th section */
.sign-up {   
    justify-content: space-between;
    padding: 5rem 0 ;
}    

.sign-up h3 { 
    font-size: 3rem;
    width: 50%;

}

/* 6th section */

.faq {
    padding: 2rem 0;
}


/* footer */
footer {
    background-color: black;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0;
    
}

.footer-col {
    /* debug */
    /* border: 1px solid white; */
    /* /debug */
    width: calc(100%/5);
    color: white;
}

.lenguage {
    color: white;    
    display: flex;
    gap: 0.5rem;
    border-top: 1px solid white;
    padding: 2rem 0;
    width: calc(100%/5);
}

/* effects */

.hover-border:hover {
    border-bottom: 1px solid blue;    
}

.button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.button-white:hover {
    filter: brightness(1.2);
    cursor: pointer;
    border: 1px solid var(--border);
}

.button-small:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}


    