* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img { 
    max-width: 100%;
}

:root {
    --background-lightblue: #B4D0E7;
    --button: #0061FF;
    --border: #EDEDEE;
    --monitor: #F5F5F5;
    --designit: #A2D39B;
    --asu: #61082B;
    --uf: #0093CE;
    --topps: #FF1C1C;
    --bicycle: #D5001F;
    --hearts: #B4D0E7;
    --lonely: #0D2481;
    --clear: #FFD830;


}

/* common */

.container {
    /* debug */
    border: 1px solid black;
    min-height: 150px;
    /* debug */
    width: 70%;
    margin: 0 auto;
}

.flexbox{
    display: flex;
}

.background-lightblue {
    background-color: var(--background-lightblue);
}

li{
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* header */

/* nav */
nav {
    /* debug */
    border: 1px solid black;
    background-color: aqua;
    /* debug */
    padding: 1rem .5rem 1rem .5rem; 
    display: flex;   
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.nav-left {
    /* debug */
    border: 1px solid black;
    /* debug */
}

.nav-right {
    /* debug */
    border: 1px solid black;
    /* debug */
}

/* hero */
.hero {
    /* debug */
    border: 1px solid black;
    min-height: 200px;
    /* debug */
    
    padding-top: 2rem;    
}

.big-container {
    /* debug */
    border: 1px solid black;
    min-height: 150px;
    /* debug */
    width: 80%;
    margin: 0 auto;
}

.hero-content {   
    /* debug */
    border: 1px solid black;
    /* debug */
}

.free-trial {
    /* debug */
    border: 1px solid black;
    min-height: 200px;
    /* debug */
    width: 40%;
    
}

.hero-img {
    width: 60%;    
}

/* main */
main {
    padding-top: 3rem;
}

/* 1th section */
.checkbox {
     /* debug */
     border: 1px solid black;
     min-height: 1rem;
     /* debug */
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;   
}

.col {
    /* debug */
    background-color: lightblue;
    min-height: 100px;
    /* debug */
    width: calc(100%/3 - 1rem);
    border: 1px solid var(--border);    
}


.big-col {
    /* debug */
    background-color: lightblue;
    min-height: 100px;
    /* debug */
    width: 100%;
    border: 1px solid var(--border);
}


/* 2th section */
.partner-img {
    width: 60%;
}

.partner-txt {
    width: 40%;
}

/* 4th section */

.company-row {
    display: flex;
    flex-wrap: wrap;      
}

.company-col {
    /* debug */
    background-color: lightblue;
    min-height: 100px;
    /* debug */
    width: calc(100%/3);
    border: 1px solid var(--border);    
    display: flex;
    flex-wrap: wrap;
}

.monitor {
    /* debug */
    background-color: var(--monitor);
    min-height: 100px;
    /* debug */
    width: calc(100%/3);    
    display: flex;
}

.company {    
    min-height: 100px;
    border: 1px solid black;
    width: calc(100%/2);
    flex-wrap: wrap;
    aspect-ratio: 1;    
}

.designit {
    background-color: var(--designit);
}

.asu {
    background-color: var(--asu);
}

.uf {
    background-color: var(--uf);
}

.topps {
    background-color: var(--topps);
}

.monitor {
    background-color: var(--monitor);
}

.bicycle {
    background-color: var(--bicycle);
}

.hearts {
    background-color: var(--hearts);
}

.lonely {
    background-color: var(--lonely);
}

.clear {
    background-color: var(--clear);
}

/* 5th section */
.sign-up {   
    align-items: center;
    justify-content: space-between;
}

/* footer */
footer {
    background-color: black;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    
}

.footer-col {
    /* debug */
    border: 1px solid white;
    /* /debug */
    width: calc(100%/5);
    color: white;
}

.lenguage {
    color: white;
    border-top: 1px solid white;
}